body {
    background-color: #9B59B6;
}

p {
    color: aliceblue;
}

.containerSair {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.containerSair img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;    
}

.containerSair p {
    font-size: 45px;
    transition: transform 0.3s ease;    
}

.containerSair p:hover, .containerSair img:hover {
    transform: scale(1.2);
}

.containerTarefas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.tarefas, .etiqueta, .validade {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: start;
}

.tarefas {
    width: 500px; 
    height: 100%;
}

.etiqueta {
    width: 500px;
    height: 100%;
    gap: 15px;
}

.validade {
    width: 500px;
    height: 100%;
 
}

.tarefas textarea {
    width: 100%; 
    height: 240px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    color: black;
}

.tarefas p, .etiqueta p, .validade p {
    font-size: 45px;
    font-weight: 500;
}

.inputs{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.inputs p{
    font-size: 35px;
}

input[type="radio"] {
    cursor: pointer; 
    width: 30px;
    height: 30px;
    border: none;
}

.validade input{
    width: 80%;
    height: 65px;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    font-size: 35px;
    padding: 10px;
}

.botaoEnviar {
    padding-top: 85px;
}

.botaoEnviar button{
    width: 400px;
    height: 85px;
    background-color: #F1C40F;
    border: 5px solid;
    border-radius: 10px;
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;    

}

.botaoEnviar button:hover{
    transform: scale(1.1);
}

.containerTarefasDentro {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tarefasDentro {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.tareUrgente, .tarefaModerada, .tarefaPadrao {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: start;
}

.tareUrgente p, .tarefaModerada p, .tarefaPadrao p {
    font-size: 45px;
    font-weight: 700;
}

.tareUrgente textarea, .tarefaModerada textarea, .tarefaPadrao textarea{
    width: 550px;
    height: 768px;
    border: none;
    font-size: 35px;
}